.footer
	.container
		.footer-links{style: "font-size: 12px; font-weight: bold;"}
			=link_to "Ruby on Rails", "https://www.rubyonrails.com"
			&nbsp;•&nbsp;
			=link_to "Google", "https://www.google.com"
			&nbsp;•&nbsp;
			=link_to "V2EX", "https://www.v2ex.com"
			&nbsp;•&nbsp;
			=link_to "Ruby", "https://www.ruby-lang.org"
			&nbsp;•&nbsp;
			=link_to "Ruby China", "https://www.ruby-china.org"
			&nbsp;•&nbsp;
			=link_to "饭否", "https://www.fanfou.com/janghyuan"
			&nbsp;•&nbsp;
			=link_to "stackoverflow", "https://www.stackoverflow.com"			
		%br/
		%small.meta{}
			山东理工大学 稷下社区 &copy; 2016-02-13 Code by 
			%strong
				=link_to "janghuan", "https://github.com/zhuan"
			UI inspired by 
			%strong
				=link_to "V2EX", "https://www.v2ex.com"
			%br/
			This site is proudly based on Ruby on Rails framework, Bootstrap UI framework.
		%br/
		%br/
		%br/
		%br/
		=image_tag(root_url.to_s + "rails-logo.svg", style: "width: 100px;")
